<%- include('deanheader.ejs')%>
<%- include('deansidebar.ejs')%>


<div class="col-md-9 dash-left">
    <ul>
        <li><a href="#"><h4>Solve Complaints Display</h4></a></li>
        
    </ul>
    <h5>You can change your password</h5>
    <div class="col-sm-4 " style="padding-top: 9px;">
        <div class="page-header float-left">
            <div class="page-title">
                
            </div>
        </div>
    </div> 
    
            
    
</div>
</div>
</div>
</div>


<%- include('deanfooter.ejs')%>