
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITMGrivance Redressal System</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
   
     <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
     <link rel="stylesheet" href="/css/style.css">
    </head>


    <body onload="load()">
        <div id="loading"></div>

    <!-- top bar start -->
    <header >
    <div class="container-fluid topbody">
        <div class="row ">
            <div class="col-lg-3"> 
                <div class="d-flex align-items-center justify-content-start  top-bar">
                    <i class="fa-solid fa-mobile-retro face">
                        </i><span class="number">+9187 959 84888</span>
                   
                </div>
            </div>

            <div class="col-lg-6">
                <div class="d-flex align-items-center justify-content-center  top-bar">
                    <a href="" class="non "><h1> <span>ITMGrivance</span>Portal</h1></a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="d-flex align-items-center justify-content-end top-bar"> 
                    <a href=""><i class="fa-brands fa-facebook  face"></i></a>&nbsp
                    <a href=""><i class="fa-brands fa-square-twitter face"></i></a>&nbsp
                   
                    <a href=""><i class="fa-brands fa-linkedin face"></i></i></a>&nbsp
                    <a href=""><i class="fa-brands fa-square-instagram face"></i></a>
                </div>
               
            </div>
           


        </div>
    </div>
</header>
<!-- top bar end -->
<!-- nav bar start -->
 <nav class="navbar bg-dark navbar-dark navbar-expand-md  sticky-top  shadow-lg">
    <div class="container-fluid">
        
        <!-- mobile view -->
        <button class="navbar-toggler" data-bs-target="#a" data-bs-toggle="collapse" >
            <span class="navbar-toggler-icon"></span>
        </button>
            <!-- mobile view end -->
        <!--menu start -->
        <div class=" navbar-collapse collapse" id=a>
            <ul class="navbar-nav    sticky-top">
                
                <li><a href="/" class="nav-link hov">HOME</a></li>
                <li><a href="/about" class="nav-link hov">ABOUT</a></li>
                <li><a href="/GRS" class="nav-link hov ">
                    Grievance Redressal System</a></li>
                <li><a href="/features" class="nav-link hov ">
                    Features</a></li>
                <li><a href="/benefits" class="nav-link hov ">Benefits</a></li>
                <li><a href="/help" class="nav-link  hov">Help </a></li>
                
            </ul>
            <ul class="navbar-nav ms-auto">
                <li  style="border:1px solid #f3aa92; background-color: #f3aa92; " class="shadow-lg"><a href=" /loginpo" class="nav-link hov"> Login</a></li>
            </ul>
            
        </div>
        <!--menu end-->
    </div>
</nav> 
<!-- slider bar start  -->

<!-- <div class="carousel slide" data-bs-ride="carousel" id="aa">

  
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="4000">
  
        <img src="https://rntu.ac.in/slider/images/banner1.jpg" class="w-100" alt="...">
       
      </div>
    </div>
</div> -->
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <% b.forEach((item)=>{   %>
    
        <div class="carousel-item active">
          <img src="<%= item.slider.url %>" class="d-block w-100" style="height:550px;" alt="...">
        </div>
        <% }) %>
    
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>





        
           
         

        
        <div class="container-fluid">
            <div class="container">
               <div class="row ">
                <h1 class="text-center why"><span>Why</span>
                    Grievance Redressal System?</h1>
               </div>
            </div>
        </div>

        
        <div class="container-fluid">
            <div class="container">
               <div class="row  ">
                <div class="col-md-6 "> <P class="whygrievance">The Grievance Redressal Cell has been developed to settle 
                    the grievances of the students and other stakeholders within a reasonable time period for further
                     strengthening the bond of the students with the institution by providing them with all kind of 
                     facilities to a satisfaction level for maintaining a convenient ambience of academic teaching and 
                     learning.<br>
                    Oréll believes that providing on time and competent service is essential not only to attract
                     new customers, but also to retain existing ones. ITMGrievance, the revolutionary online grievance
                      handling mechanism aims at minimising instances of complaints in professional </P>
                </div>
                    <div class="col-md-6 ">
                        <img src="https://edugrievance.com/image/home-grievance-redressal-system-content-img.png" class="w-100">
                    </div>
               </div>

               <div class="row ">
                 <P class="whygrievanced">colleges through 
                    effective tracking and monitoring of grievances ensuring prompt redressal. This portal for online
                     registration and disposal of grievances help users obtain immediate response and resolution to 
                     their grievances from the institution itself</P>
                
               </div>



            </div>
        </div>


         
        <div class="container-fluid">
            <div class="container">
               <div class="row ">
                <div class="col-md-4 text-center  main  shadow-lg"> 
                    <div class="  comborder"><a href="" class="component"><i class="fa-solid fa-user"></i></a>


                        
                        <h2> Student</h2>
                        <p>Student can manage or view Their Grievance Here..</p>
                        <a href="/login"><button type="button" class="btn loginbt" > Login</button></a>


                    </div>
                </div>
                <div class="col-md-4 main text-center shadow-lg"> 
                    <div class="  comborder"><a href="" class="component"><i class="fa-solid fa-user-tie"></i></a>


                        
                        <h2> Dean/Princopal</h2>
                        <p>This Section is Managed By the Dean/Principal of ITM University</p>
                        <a href="/deanlogin"><button type="button" class="btn loginbt"> Login</button></a>


                    </div>
                    
                </div>
                <div class="col-md-4 main text-center  shadow-lg">
                    <div class="  comborder"><a href="" class="component"><i class="fa-solid fa-chalkboard-user"></i></a>
                        <h2> Handler & Admin</h2>
                        <p> this Section is  managed and view  by the  Grievance handler.</p>
                        <a href="/adminlogin"><button type="button" class="btn loginbt" > Login</button></a>
                    </div>
                 </div>
                
               </div>
               

               


            </div>
        </div>

        <br><br>


        <div class="carousel slide" data-bs-ride="carousel" id="aa">

  
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="4000">
          
                <img src="https://rntu.ac.in/slider/images/banner1.jpg" class="w-100" alt="...">
               
                </div>
                </div>
                </div>

                <script>
                    var preloader =document.getElementById('loading')
                    function load(){
                      preloader.style.display ='none';
                    }
                  </script>

                <%- include('./footer.ejs')  %>
                